.popupBox {
    position: fixed;
    top: -210px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: auto;
    padding: 10px 0;
    background-color: #181f2b;
    display: flex;
    flex-direction: column;
    align-items: top;
    border-radius: 15px;
    outline: 0.5rex;
    outline-color: rgb(8, 8, 8);
    outline-style: solid;
    box-shadow: 4px 4px 2.5px;
    white-space: normal;
    max-width: 500px;
  }

.popupBox.show-error{
  top: 20px;
  transition: top 0.8s ease 0s;
}

.popupBox.hide-error{
  top: -210px;
  transition: top 1s ease 0s;
}

.popUpBoxHeader {
    text-align: center;
    color: rgb(230, 230, 230);
    font-size: auto;
    font-family: sans, sans-serif;
    margin-top: 10px;
}
.popUpBoxMain {
  text-align: center;
  color: rgb(230, 230, 230);
  margin-top: 25px;
  font-size: auto;
  font-family: sans, sans-serif;
}

#closeErrorPopUp {
  all: unset;
  position: absolute;
  cursor: pointer;
  right: 0;
  margin-right: 15px;
}

#closeErrorPopUp img {
  width: 20px;
  
}
