#googleSignInButton {
    max-width: 250px;
    margin-right: 10px;
    padding-top: 10px;
}

#googleSignInButtonHolder {
    right: 0px;
    position: absolute;
}

#GoogleSignInDone {
    width: 140px;
    height: 50px;
    background-color: rgb(54, 55, 56);
    position: absolute;
    margin-top: 5px;
    position: absolute;
    right: 0px;
    margin-right: 20px;
    visibility: visible;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

#GoogleSignInDone p {
    text-align: center;
    font-family: sans;
    color: white;
}