@font-face {
    font-family: sans;
    src: url(../fonts/Netflix\ Sans\ Medium.otf);
}

main {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgb(26, 32, 42);
    margin-top: 60;
}

.artistsSongSearch {
    font-size: 5vw;
    color: white;
    text-align: center;
    flex: 1;
    font-family: sans, sans-serif;
    align-self: center;
    padding: 30px 0px 0px 0px;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar button img {
    width: calc(18px + 2.5vw);
}

.searchBar button {
    border: 0;
    border-radius: 50%;
    width: calc(40px + 3vw);
    height: calc(40px + 3vw); 
    background: #313c5cc9;
    cursor: pointer;
    align-self: center;
}


.searchBox {

    width: 100%;
    max-width: 70vw;
    background: #45537d;

    display: flex;
    align-items: center;
    border-radius: 154px;
    padding: 10px 1vw;
    margin-top: 50px;

    min-width: 0;
    max-height: 10vw;
}


.searchBox input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 4vw;
    font-family: sans;
    color: #ffff;
    min-width: 0;
    max-height: 5vw;
}


::placeholder{
    color: white;
}

p {
    font-family: sans, sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}