@font-face {
    font-family: sans;
    src: url(../fonts/Netflix\ Sans\ Medium.otf);
}

main {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgb(26, 32, 42);
    margin-top: 60;
}

.artistsSongSearch {
    font-size: 50px;
    color: white;
    text-align: center;
    flex: 1;
    font-family: sans, sans-serif;
    align-self: center;
    padding: 40px 50px 0px 0px;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBox {
    width: 100%;
    max-width: 700px;
    background: #45537d;;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 10px 20px;
    margin-top: 100px;
    margin-right: 50px;
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 30px;
    font-family: sans;
    color: #ffff;
    
}

::placeholder {
    color: #ecececa1;
}

.searchBar button img {
    width: 40px;
}

.searchBar button {
    border: 0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #313c5cc9;;
    cursor: pointer;
    margin-right: 10px;
}

