@font-face {
    font-family: sans;
    src: url(../fonts/Netflix\ Sans\ Medium.otf);
}

.header-main {
    width: 100%;
    height: calc(67px + 3vw);
    background-color: rgb(35, 42, 54);
    display: flex;
}

.main-text {
    font-size: calc(20px + 3.5vw); 
    color: white;
    text-align: center;
    flex: 1;
    font-family: sans, sans-serif;
    align-self: center;
}

.header-box {
    width: 100px;
    height: 50px;
    background-color: chocolate;
}

body {
    background-color: rgb(26, 32, 42);
}

.header-sm {
    height: 100%;
    order: 2; 
    display: flex;
}

.header-sm img {
    position: absolute;
    right: 0;
    height: calc(25px + 3vw);
    align-self: center;
}

